{% extends "layout.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="row gy-4 align-items-center justify-content-center">

      <div class="col-12 col-md-6 col-xl-5">
        <div class="card custom-home border-0 rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h3>Registrarse</h3>
                  <p>¿Ya tiene una cuenta? Entonces <a href="{{ login_url }}">inicia sesión</a></p>
                </div>
              </div>
            </div>

            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="row gy-3 overflow-hidden"></div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <p class="form-text error-text">
                    {{ form.non_field_errors.as_text }}
                </p>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="id_username" placeholder="Username" required>
                        <label for="id_username" class="form-label">Nombre de Usuario</label>
                        <p id="usernameHelp" class="form-text error-text">
                            {{ form.username.errors.as_text }}
                        </p>
                    </div>
                </div>
        

        
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password1" id="id_password1" placeholder="Password" required>
                        <label for="id_password1" class="form-label">Contraseña</label>
                        <p id="password1Help" class="form-text error-text">
                            {{ form.password1.errors.as_text }}
                        </p>
                    </div>
                </div>
        
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password2" id="id_password2" placeholder="Confirm Password" required>
                        <label for="id_password2" class="form-label">Confirmar Contraseña</label>
                        <p id="password2Help" class="form-text error-text">
                            {{ form.password2.errors.as_text }}
                        </p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="d-grid">
                        <button class="btn btn-dark btn-lg" type="submit" id="singupButton">Registrarse</button>
                    </div>
                  </div>

            </form>


            
        </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
