{% load widget_tweaks %}
{% block content %}

{% with WIDGET_ERROR_CLASS='is-invalid' %}

    <form hx-post="{{ request.path }}" class="modal-content custom-home">
        {% csrf_token %}
        <div class="modal-header mb-2">
            <h1>Editar URL</h1>
        </div>
        <div class="modal-body ">
            
            <div class="mb-3">
                <label for="{{ form.raw_url.id_for_label }}" class="form-label">Dirección final</label>
                {% render_field form.raw_url class="form-control" placeholder="Ingrese una url" %}
                <div class="invalid-feedback">{{ form.raw_url.errors|first }}</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.short_url.id_for_label }}" class="form-label">URL Recortado</label>
                {% render_field form.short_url class="form-control" placeholder=form.short_url.value %}
                <div class="invalid-feedback">{{ form.short_url.errors|first }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #1b1b1b; color: white;" onmouseover="this.style.backgroundColor='#333';" onmouseout="this.style.backgroundColor='#1b1b1b';">
                Cancelar
            </button>
            <button type="submit" class="btn btn-dark">
                Guardar
            </button>
        </div>
    </form>

{% endwith %}
{% endblock %}